MONGO_URI=mongodb://localhost:27017
MONGO_DB=labs_tracker
GITHUB_TOKEN=
TRACKED_REPOS=MicrosoftLearning/mslearn-ai-agents,MicrosoftLearning/mslearn-ai-fundamentals,MicrosoftLearning/mslearn-ai-language,MicrosoftLearning/mslearn-ai-studio,MicrosoftLearning/mslearn-ai-vision,MicrosoftLearning/mslearn-devops,MicrosoftLearning/mslearn-genaiops,MicrosoftLearning/mslearn-mlops,MicrosoftLearning/mslearn-azure-ai,MicrosoftLearning/mslearn-ai-information-extraction,MicrosoftLearning/dp-300-database-administrator,MicrosoftLearning/PL-300-Microsoft-Power-BI-Data-Analyst,MicrosoftLearning/mslearn-sql-developer
